@import 'common';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}
