@import 'common';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    background-color: $bg-dark;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
}

#__next {
    @include flex-column();
    align-items: center;
}
