@import 'common';

.wrapper {
    height: 18px;

    @include mq(md) {
        height: 24px;
    }

    & svg {
        height: 100%;
    }
}

.dark {
    & path {
        fill: $dark;
    }
}

.light {
    & path {
        fill: $light;
    }
}
